header{
  background-color: gray;
  color: orange;
  text-align: center;
  font-size: 50px;
  padding: 1px;
  border-radius: 25px;
}
body{
  background-color: orange;
  font-family: 'Roboto Condensed', sans-serif;
}
img{
  width: 85%;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 45px;
}
span{
  color: black;
  font-size: 20px;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: gray;
  color: white;
  margin-top: 2%;
  border-radius: 50px;
}
h3{
  color: gray;
}
.zapatillas {
  width: 25%;
  text-align: center;
  margin-bottom: 7%;
  margin-top: 5%;
}
.zapatilla{
  width: 800px;
  height: 800px;
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 30px;
}
.descripcion{
  text-align: left;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 25px;
  margin-left: 7%;
}
.register{
  margin-left: 15%;
  margin-right: 50%;
  font-size: 30px;
}
.reg_tit{
  text-align: center;
  font-size: 30px;
}
.container{
  margin-top: 5%;
  margin-bottom: 8%;
  margin-left: 32.5%;
  width: 35%;
  border: 2px solid gray;
  padding: 15px;
  border-radius: 45px;
}
.precio{
  text-align: center;
}
.button{
  padding: 8px 10px;
  border-radius: 45px;
  margin-left: 0.5%;
  font-size: 20px;
}
.busq{
  margin-left: 2%;
  padding: 8px 10px;
  border-radius: 45px;
  font-size: 20px;
}
.Bprod{
  font-size: 30px;
  margin-left: 2%;
}
input[type=radio] {
  width: 18px;
  height: 2em;
}
