{%load staticfiles%}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mi tienda</title>
    <link rel="stylesheet" href="{% static 'css/micss.css'%}">
    <link rel="icon" href="{% static 'img/pelota.jpg'%}" type="image/x-icon">
  </head>
  <body>
    <header>
      <h1 style="font-size: 75px; padding-left: 5%;">Futsal store <img src="/static/img/pelota.jpg" style="width: 8%; float: right;"/></h1>
      <p style="font-size: 25px; padding-left: 5%;">Busque, compare y si encuentra algo mejor, cómprelo</p>
      <a href="carrito_show"><img src="/static/img/carrito.png" style="width: 2.5%; padding-bottom: 1.5%"/></a>
    </header>
    {%block content%}
    {%endblock%}
    <footer>
      <span>El éxito no está en vencer siempre, sino en no desanimarse nunca, Napoleón Bonaparte</span>
    </footer>
  </body>
</html>
