{%extends "base.html"%}
{%block content%}
{%load staticfiles%}
<table>
  <h3 style="font-size: 35px; padding-left: 15%;">{{producto.nombre}}</h3>
  <tr>
    <th>
      <div class="producto">
        <img src="{% static producto.img %}" style="width:500px; height: 500px; padding-bottom: 2%; padding-top: 1%; padding-left: 10%;" />
        <br>
        <span style="padding-left: 2%">En stock: {{producto.stock}}</span>
        <span style="padding-left: 10%">Precio --> {{producto.precio}}€</span>
      </div>
    </th>
    <th>
      <div class="descripcion" style= "width:60%; margin-left: 30%; text-align: left; border: 2px solid gray; padding: 10px; border-radius: 25px;">
        <p>{{producto.descripcion}}</p>
      </div>
    </th>
  </tr>
</table>
<center>
<form action="pedir" method="post" style="padding-left: 2%">
    {% csrf_token %}
    <label>Nombre: </label>
    <input type="text" name="nombre" value="" required/>
    <input type="text" name="prodname" value="{{producto.nombre}}" readonly/>
    {%if producto.stock > 0 %}
      <input type="submit" value="Añadir al carrito"/>
    {% else %}
      <button onclick="myFunction()">Añadir al carrito</button>
      <script>
        function myFunction() {
          alert("Producto agotado, no añadido al carrito");}
      </script>
    {% endif %}
</form>
</center>
<br>
<a href="/mi_tienda" style="padding-left: 2%">Volver a la pagina principal</a>
{%endblock%}
